/* Font */
@import url(../font/nunito-sans/nunito-sans.css);

/* Variable */
:root {
  --ff-heading: "Nunito Sans", sans-serif;
  --clr-brand: #100c26;
  --clr-brand-light: #221d41;
  --radius: 0.25rem;
  --transition: 0.4s all ease;
}

/* Reset */
img,
picture,
svg {
  max-width: 100%;
}

/* Utility */
.fontHeading {
  font-family: var(--ff-heading);
}

.font900 {
  font-weight: 900;
}

/* Section */
.sectionPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* Btn */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
}
